//IMPORTANDO VARIABLES

@import "../utilities/variables";

//Mixin para logos de redes en footer
@mixin logosRedes($backgroundRep, $altoAnchoredes){
    background-repeat: $backgroundRep;
    width: $altoAnchoRedes;
    height: $altoAnchoRedes;
}