//VARIABLES

//variable fondos
$fondos: chocolate ;

//variable para bordes
$bordes: black 4px solid;

//variable para textos
$textAlign: center;

//variable para redes
$backgroundRep:no-repeat;
$altoAnchoRedes:100px;
