//IMPORTS

@import "../utilities/variables";
@import "../utilities/mixin";

//Propiedades del Footer

.footer{
    background-color: white;
        .piePagina{
            text-align: center;
            font-weight: 300;
}

        .redes{
            display:flex;
            flex-direction: row;
            justify-content:center;
            align-content: space-between;

                .facebook{
                    @include logosRedes($backgroundRep,$altoAnchoRedes)
}

                .instagram{
                    @include logosRedes($backgroundRep,$altoAnchoRedes)
}

                .twitter{
                    @include logosRedes($backgroundRep,$altoAnchoRedes)
}
}
}

